<!-- 3 COLUMN -->
<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2">The Army is Great</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src='https://via.placeholder.com/40x40.png'>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary">
          Primary button
        </a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src='https://via.placeholder.com/40x40.png'>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary">
          Primary button
        </a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src='https://via.placeholder.com/40x40.png'>
        <%# <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg> %>
      </div>
      <div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary">
          Primary button
        </a>
      </div>
    </div>

  </div>
</div>


<!-- 2 COLUMN / IMAGE -->
<div class="container col-xxl-8 px-4 py-5">

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://via.placeholder.com/400x300.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Something something something, yada yada yada. Put whatever you want here, until then I am just going to put in placeholder text such as Lorem Ipsum. Ooo eee, ooo aahh ahh, bing bang walla walla bing bang. Ooo eee, ooo aahhh ahh bing bang!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to 'Recruit Me', interested_path, class: 'btn btn-primary btn-lg px-4 me-sm-3' %>
      </div>
    </div>
  </div>

</div>
