@import "bootstrap";

$light-black: #141414;
$yellow: #ffc000;
$yellow-hover: #e0af26;
$gold: #F7C44D;
$gold-hover: #e0af26;
$white: #FFFFFF;
$gray: #6F6F6F;
$grey: #6F6F6F;
$grey-brown: #595950;
$blue: #417BA9;
$background: #1F1E22;

.btn-primary {
  background-color: $yellow;
  border: 0;
  color: $white;

  &:hover {
    background-color: $yellow-hover;
    border: 0;
    color: $white;
  }
}

.btn-outline-primary {
  color: $yellow;
  border-color: $yellow;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
  }
}

.btn {
  color: $white !important;
}


body {
  background: $background;
  color: $white;
}

.clearfix {
  display: block;
  clear: both;
}

.card {
  background: $background;
}

label.required::after {
  content: ' *';
  color: $yellow;
}

table.table {
  tr {
    td {
      a {
        color: $gold;
        text-decoration: none;

        &:hover {
          color: $gold-hover;
        }
      }
    }
  }
}


header {
  .logo {
    width: 65px;
    height: 65px;
    margin-right: 8px;
  }
  .logo-text {
    color: $white;
  }

  ul.nav {
    .nav-link {
      color: $white;
      &:hover {
        color: $gold;
      }
    }
  }
}
